$headerFontColor:#0B3954;
@mixin centrDisplay{
    display: flex;
    justify-content: center;
    align-items: center;
}

.layer{
    margin-top: 160px;
    @include centrDisplay();
    .background{
        @include centrDisplay();
        width: 1720px;
        height: 670px;
        border-radius: 32px;
        background-color: $headerFontColor;
        .layerWrapper{
            background-image: url(/img/imgLayer/layerWrapper.png);
            width: 1178px;
            height: 670px;
            top: 68px;
            left: 130px;

        }
    }
}

